node_modules/
target/
dist/
resources/

# IDE
.idea/
.vscode/
.DS_Store

# Web IDE, App Studio
.che/
.gen/

package-lock.json

# Compiled class file
*.class
.classpath
.project

# Log file
*.log

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

default-services.json

migration/
