<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <resource-ref>
        <res-ref-name>KeyStoreService</res-ref-name>
        <res-type>com.sap.cloud.crypto.keystore.api.KeyStoreService</res-type>
    </resource-ref>

    <servlet>
        <servlet-name>KeyStoreServlet</servlet-name>
        <servlet-class>com.sap.cloud.sample.keystore.KeyStoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KeyStoreServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
